.card-grid {
  /* place-self: center; */
  display: grid;
  /* eventually move <Pokemon/> component in App.tsx out of header section
        and then need to allow one of the following lines. First keeps width
        fixed upon window resizing, while second changes width to fill when
        window size changes */
  /* grid-template-columns: repeat(auto-fill, 200px); */
  /* grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); */
  /* grid-template-columns: repeat(auto-fit, minmax(0, min(100%/3, max(64px, 100%/5)))); */
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  grid-gap: 70px 30px;
  margin-top: 175px;
  margin-bottom: 100px;
}

.not-found {
  /* background-color: #F6F8FC; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 150px auto;
}

@media screen and (max-width: 720px) {
  .card-grid {
    grid-template-columns: repeat(1, minmax(230px, 1fr));
  }
}

@media screen and (max-width: 1150px) and (min-width: 721px) {
  .card-grid {
    grid-template-columns: repeat(2, minmax(230px, 1fr));
    /* width: 90vw; */
    width: fit-content;
    /* max-width: 750px; */
    margin-left: auto;
    margin-right: auto;
  }
}
