.searchbar input {
  position: relative;
  max-width: 1015px;
  width: 90vw;
  /* min-width: 450px; */
  /* max-height: 67px; */
  /* height: 5vh; */
  height: 50px;
  /* min-height: 40px; */
  /* font-size: calc(10px + 2vmin); */
  /* top: 60px; */
  margin: auto;

  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  border: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: #747476;
  line-height: 1.1875rem;
  transition: all 0.3s ease;
}

.searchbar {
  position: relative;
  top: 70px;
}

input {
  padding-left: 4vw;
}

.searchbar input:focus {
  outline: none;
  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.2);
}

.searchbar .search-icon {
  position: absolute;
  top: 14px;
  left: 25px;
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 720px) {
  .searchbar input {
    width: 78vw;
    max-width: 500px;
  }

  input {
    padding-left: 12vw;
  }

  .searchbar .search-icon {
    left: 18px;
  }
}

@media screen and (max-width: 1150px) and (min-width: 721px) {
  .searchbar input {
    width: 88vw;
    max-width: 800px;
  }

  input {
    padding-left: 7vw;
  }
}
