.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  place-self: center;
  display: grid;
  /* eventually move <Pokemon/> component in App.tsx out of header section
     and then need to allow one of the following lines. First keeps width
     fixed upon window resizing, while second changes width to fill when
     window size changes */
  /* grid-template-columns: repeat(auto-fill, 200px); */
  /* grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); */
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  grid-gap: 20px;
}

.card {
  width: 230px;
  height: 350px;
  background-color: gray;
  padding: 8px;
  border-radius: 16px;
  font-size: 24px;
}

.card img {
  /* object-fit: cover; */
  width: 70%;
  /* height: 70%; */
  margin: auto;
}
